body {
  background-color: #E5E4E2;
}

.card {
  display: flex;
  margin-top: 80px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 60px;
  border: 2px solid #FB607F;
  border-radius: 5px;
  height: 75.7vh;
}

.details {
  background-color: white;
  width: 600px;
  height: 705px;
  /* border: 2px solid; */
}

.title h1 {
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  margin-left: 20px;
}

.title {
  display: flex
}

.title h3 {
  margin-top: 45px;
  margin-left: 30px;
  color: red;
}

.details h2 {
  margin-top: -25px;
  margin-left: 25px;
  font-weight: 100;
}

.info h2 {
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 40px;
  font-size: 20px;
  color: brown;
}

.size {
  display: flex;
}

.size h2 {
  font-size: 20px;
}

.size p {
  margin-left: 10px;
  margin-top: -25px;
  font-size: 20px;
  color: black;
}

button {
  background-color: #FB607F;
  font-size: 20px;
  font-weight: 400;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 10px 20px 10px 20px;
  margin-left: 25px;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
}


.price h2 {
  margin-left: 200px;
  margin-top: -40px;

}

.choice {
  display: flex;
}

.choice p {
  margin-left: 10px;
  font-size: 22px;
  font-family: 'Roboto Condensed', sans-serif;
}

.product_suggestion {
  margin-bottom: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.product_suggestion h1 {
  background-color: #9F2B68;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.product_item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px
}

.listPreview {
  border: 2px solid #FB607F;
  border-radius: 8px;
  /* margin-top: -22px; */
  padding: 10px;
  background-color: white;
}

.listPreview img {
  width: 70%;
}